aenum==3.1.15 ; python_full_version == "3.9.18"
agate==1.7.1 ; python_full_version == "3.9.18"
aiohttp==3.9.1 ; python_full_version == "3.9.18"
aiosignal==1.3.1 ; python_full_version == "3.9.18"
alembic==1.13.0 ; python_full_version == "3.9.18"
anyio==4.1.0 ; python_full_version == "3.9.18"
apache-airflow-providers-common-sql==1.8.1 ; python_full_version == "3.9.18"
apache-airflow-providers-ftp==3.6.1 ; python_full_version == "3.9.18"
apache-airflow-providers-http==4.7.0 ; python_full_version == "3.9.18"
apache-airflow-providers-imap==3.4.0 ; python_full_version == "3.9.18"
apache-airflow-providers-postgres==5.8.0 ; python_full_version == "3.9.18"
apache-airflow-providers-sqlite==3.5.0 ; python_full_version == "3.9.18"
apache-airflow==2.7.3 ; python_full_version == "3.9.18"
apispec[yaml]==6.3.0 ; python_full_version == "3.9.18"
argcomplete==3.1.6 ; python_full_version == "3.9.18"
asgiref==3.7.2 ; python_full_version == "3.9.18"
astronomer-cosmos==1.2.5 ; python_full_version == "3.9.18"
async-timeout==4.0.3 ; python_full_version == "3.9.18"
attrs==23.1.0 ; python_full_version == "3.9.18"
babel==2.13.1 ; python_full_version == "3.9.18"
backoff==2.2.1 ; python_full_version == "3.9.18"
blinker==1.7.0 ; python_full_version == "3.9.18"
cachelib==0.9.0 ; python_full_version == "3.9.18"
cattrs==23.2.3 ; python_full_version == "3.9.18"
certifi==2023.11.17 ; python_full_version == "3.9.18"
cffi==1.16.0 ; python_full_version == "3.9.18"
charset-normalizer==3.3.2 ; python_full_version == "3.9.18"
click==8.1.7 ; python_full_version == "3.9.18"
clickclick==20.10.2 ; python_full_version == "3.9.18"
colorama==0.4.6 ; python_full_version == "3.9.18"
colorlog==4.8.0 ; python_full_version == "3.9.18"
configupdater==3.2 ; python_full_version == "3.9.18"
connexion[flask]==2.14.1 ; python_full_version == "3.9.18"
cron-descriptor==1.4.0 ; python_full_version == "3.9.18"
croniter==2.0.1 ; python_full_version == "3.9.18"
cryptography==41.0.7 ; python_full_version == "3.9.18"
dbt-core==1.7.3 ; python_full_version == "3.9.18"
dbt-extractor==0.5.1 ; python_full_version == "3.9.18"
dbt-postgres==1.7.3 ; python_full_version == "3.9.18"
dbt-semantic-interfaces==0.4.1 ; python_full_version == "3.9.18"
deprecated==1.2.14 ; python_full_version == "3.9.18"
dill==0.3.7 ; python_full_version == "3.9.18"
distlib==0.3.7 ; python_full_version == "3.9.18"
dnspython==2.4.2 ; python_full_version == "3.9.18"
docutils==0.20.1 ; python_full_version == "3.9.18"
email-validator==1.3.1 ; python_full_version == "3.9.18"
exceptiongroup==1.2.0 ; python_full_version == "3.9.18"
filelock==3.13.1 ; python_full_version == "3.9.18"
flask-appbuilder==4.3.6 ; python_full_version == "3.9.18"
flask-babel==2.0.0 ; python_full_version == "3.9.18"
flask-caching==2.1.0 ; python_full_version == "3.9.18"
flask-jwt-extended==4.5.3 ; python_full_version == "3.9.18"
flask-limiter==3.5.0 ; python_full_version == "3.9.18"
flask-login==0.6.3 ; python_full_version == "3.9.18"
flask-session==0.5.0 ; python_full_version == "3.9.18"
flask-sqlalchemy==2.5.1 ; python_full_version == "3.9.18"
flask-wtf==1.2.1 ; python_full_version == "3.9.18"
flask==2.2.5 ; python_full_version == "3.9.18"
frozenlist==1.4.0 ; python_full_version == "3.9.18"
google-re2==1.1 ; python_full_version == "3.9.18"
googleapis-common-protos==1.61.0 ; python_full_version == "3.9.18"
graphviz==0.20.1 ; python_full_version == "3.9.18"
greenlet==3.0.1 ; python_full_version == "3.9.18" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
grpcio==1.59.3 ; python_full_version == "3.9.18"
gunicorn==21.2.0 ; python_full_version == "3.9.18"
h11==0.14.0 ; python_full_version == "3.9.18"
httpcore==1.0.2 ; python_full_version == "3.9.18"
httpx==0.25.2 ; python_full_version == "3.9.18"
idna==3.6 ; python_full_version == "3.9.18"
importlib-metadata==6.9.0 ; python_full_version == "3.9.18"
importlib-resources==6.1.1 ; python_full_version == "3.9.18"
inflection==0.5.1 ; python_full_version == "3.9.18"
isodate==0.6.1 ; python_full_version == "3.9.18"
itsdangerous==2.1.2 ; python_full_version == "3.9.18"
jinja2==3.1.2 ; python_full_version == "3.9.18"
jsonschema-specifications==2023.11.2 ; python_full_version == "3.9.18"
jsonschema==4.20.0 ; python_full_version == "3.9.18"
lazy-object-proxy==1.9.0 ; python_full_version == "3.9.18"
leather==0.3.4 ; python_full_version == "3.9.18"
limits==3.7.0 ; python_full_version == "3.9.18"
linkify-it-py==2.0.2 ; python_full_version == "3.9.18"
lockfile==0.12.2 ; python_full_version == "3.9.18"
logbook==1.5.3 ; python_full_version == "3.9.18"
mako==1.3.0 ; python_full_version == "3.9.18"
markdown-it-py==3.0.0 ; python_full_version == "3.9.18"
markdown==3.5.1 ; python_full_version == "3.9.18"
markupsafe==2.1.3 ; python_full_version == "3.9.18"
marshmallow-oneofschema==3.0.1 ; python_full_version == "3.9.18"
marshmallow-sqlalchemy==0.26.1 ; python_full_version == "3.9.18"
marshmallow==3.20.1 ; python_full_version == "3.9.18"
mashumaro[msgpack]==3.11 ; python_full_version == "3.9.18"
mdit-py-plugins==0.4.0 ; python_full_version == "3.9.18"
mdurl==0.1.2 ; python_full_version == "3.9.18"
minimal-snowplow-tracker==0.0.2 ; python_full_version == "3.9.18"
more-itertools==10.1.0 ; python_full_version == "3.9.18"
msgpack==1.0.7 ; python_full_version == "3.9.18"
multidict==6.0.4 ; python_full_version == "3.9.18"
networkx==3.2.1 ; python_full_version == "3.9.18"
numpy==1.26.2 ; python_full_version == "3.9.18"
opentelemetry-api==1.21.0 ; python_full_version == "3.9.18"
opentelemetry-exporter-otlp-proto-common==1.21.0 ; python_full_version == "3.9.18"
opentelemetry-exporter-otlp-proto-grpc==1.21.0 ; python_full_version == "3.9.18"
opentelemetry-exporter-otlp-proto-http==1.21.0 ; python_full_version == "3.9.18"
opentelemetry-exporter-otlp==1.21.0 ; python_full_version == "3.9.18"
opentelemetry-proto==1.21.0 ; python_full_version == "3.9.18"
opentelemetry-sdk==1.21.0 ; python_full_version == "3.9.18"
opentelemetry-semantic-conventions==0.42b0 ; python_full_version == "3.9.18"
ordered-set==4.1.0 ; python_full_version == "3.9.18"
packaging==23.2 ; python_full_version == "3.9.18"
pandas==2.1.3 ; python_full_version == "3.9.18"
parsedatetime==2.6 ; python_full_version == "3.9.18"
pathspec==0.11.2 ; python_full_version == "3.9.18"
pendulum==2.1.2 ; python_full_version == "3.9.18"
platformdirs==4.0.0 ; python_full_version == "3.9.18"
pluggy==1.3.0 ; python_full_version == "3.9.18"
polars==0.19.19 ; python_full_version == "3.9.18"
prison==0.2.1 ; python_full_version == "3.9.18"
protobuf==4.25.1 ; python_full_version == "3.9.18"
psutil==5.9.6 ; python_full_version == "3.9.18"
psycopg2-binary==2.9.9 ; python_full_version == "3.9.18"
pyarrow==14.0.1 ; python_full_version == "3.9.18"
pycparser==2.21 ; python_full_version == "3.9.18"
pydantic==1.10.13 ; python_full_version == "3.9.18"
pygments==2.17.2 ; python_full_version == "3.9.18"
pyjwt==2.8.0 ; python_full_version == "3.9.18"
python-daemon==3.0.1 ; python_full_version == "3.9.18"
python-dateutil==2.8.2 ; python_full_version == "3.9.18"
python-nvd3==0.15.0 ; python_full_version == "3.9.18"
python-slugify==8.0.1 ; python_full_version == "3.9.18"
pytimeparse==1.1.8 ; python_full_version == "3.9.18"
pytz==2023.3.post1 ; python_full_version == "3.9.18"
pytzdata==2020.1 ; python_full_version == "3.9.18"
pyyaml==6.0.1 ; python_full_version == "3.9.18"
referencing==0.31.1 ; python_full_version == "3.9.18"
requests-toolbelt==1.0.0 ; python_full_version == "3.9.18"
requests==2.31.0 ; python_full_version == "3.9.18"
rfc3339-validator==0.1.4 ; python_full_version == "3.9.18"
rich-argparse==1.4.0 ; python_full_version == "3.9.18"
rich==13.7.0 ; python_full_version == "3.9.18"
rpds-py==0.13.2 ; python_full_version == "3.9.18"
setproctitle==1.3.3 ; python_full_version == "3.9.18"
setuptools==69.0.2 ; python_full_version == "3.9.18"
six==1.16.0 ; python_full_version == "3.9.18"
sniffio==1.3.0 ; python_full_version == "3.9.18"
sqlalchemy-jsonfield==1.0.2 ; python_full_version == "3.9.18"
sqlalchemy-utils==0.41.1 ; python_full_version == "3.9.18"
sqlalchemy==1.4.50 ; python_full_version == "3.9.18"
sqlparse==0.4.4 ; python_full_version == "3.9.18"
tabulate==0.9.0 ; python_full_version == "3.9.18"
tenacity==8.2.3 ; python_full_version == "3.9.18"
termcolor==2.4.0 ; python_full_version == "3.9.18"
text-unidecode==1.3 ; python_full_version == "3.9.18"
typing-extensions==4.8.0 ; python_full_version == "3.9.18"
tzdata==2023.3 ; python_full_version == "3.9.18"
uc-micro-py==1.0.2 ; python_full_version == "3.9.18"
unicodecsv==0.14.1 ; python_full_version == "3.9.18"
urllib3==1.26.18 ; python_full_version == "3.9.18"
virtualenv==20.25.0 ; python_full_version == "3.9.18"
werkzeug==2.3.8 ; python_full_version == "3.9.18"
wrapt==1.16.0 ; python_full_version == "3.9.18"
wtforms==3.0.1 ; python_full_version == "3.9.18"
xlrd==2.0.1 ; python_full_version == "3.9.18"
yarl==1.9.3 ; python_full_version == "3.9.18"
zipp==3.17.0 ; python_full_version == "3.9.18"
